{% extends "base.html" %}
{% block title %}{{ collection.title }}{% endblock %}
{% block json_alternate %}
  <link rel="alternate" href="{{ url_for('frontend.get_collection_json', slug=collection.slug) }}" type="application/json">
{% endblock %}
{% block content %}
  <h2>{{ collection.title }}</h2>
  <ul>
    {% for topic in collection.topics %}
      <li><a href="{{ url_for('frontend.get_topic', slug=collection.slug, topic_slug=topic.slug) }}">{{ topic.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
