{% extends "base.html" %}
{% block content %}
    <h1>What, where and why</h1>
    <p>This application is used to test things, and not is intended for production use</p>
    <p>It's deployed to the datagovuk sandbox env ECS cluster in the test account</p>
    <p>It's a way for us experiment with things in a realistic environment that allows access to AWS managed services</p>

    <hr />
    <a href="{{ url_for('search.index')}}">Search experiments</a>
    <br />
    <a href="{{ url_for('frontend.attic')}}">The attic where older things are kept</a>

{% endblock %}
