{% extends "base.html" %} {% block title %}Postgres keyword search{% endblock %}
{% block content %}

<form action="{{ url_for('search.postgres') }}" method="get">
    <fieldset role="group">
        <input
            type="text"
            name="q"
            placeholder="Search..."
            value="{{ query }}"
        />
        <button type="submit">Search</button>
    </fieldset>
    <label>
        <input
            type="checkbox"
            name="include_ckan"
            value="1"
            {%
            if
            include_ckan
            %}checked{%
            endif
            %}
        />
        Include data.gov.uk
    </label>
</form>

{% if query %}
<h2>Results</h2>
<p>
    {{ results|length }} {{ "result" if results|length == 1 else "results" }}
    from collection search for "{{ query }}"
</p>
{% if results %}
<ul>
    {% for topic in results %}
    <li>
        <a
            href="{{ url_for('frontend.get_topic', slug=topic.collection.slug, topic_slug=topic.slug) }}"
            >{{ topic.title }}</a
        >
        <small>in {{ topic.collection.title }}</small>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %} {% if ckan_results %}
<p>
    {{ ckan_results|length }} {{ "result" if ckan_results|length == 1 else
    "results" }} from data.gov.uk catalogue search
</p>
<ul>
    {% for item in ckan_results %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>
{% elif include_ckan %}
<p>0 results from data.gov.uk catalogue search</p>
{% endif %} {% endif %}

<hr />

<details name="notes" closed>
    <summary>Notes</summary>
    <p>This is basic keyword search.</p>
    <p>
        If "include data.gov.uk" checked the app uses the ckan api to run the
        same keyword search on existing catalogue.
    </p>
    <p>This is a simplistic approach thats proxies a call to existing search</p>
</details>

{% endblock %}
