{% extends "base.html" %}
{% block title %}{{ topic.title }}{% endblock %}
{% block json_alternate %}
  <link rel="alternate" href="{{ url_for('frontend.get_topic_json', slug=topic.collection.slug, topic_slug=topic.slug) }}" type="application/json">
{% endblock %}
{% block content %}
  <h2>{{ title }}</h2>
  <section>{{ content }}</section>
  {% if topic.links %}
    <dl>
      {% if topic.contact %}
        <dt><strong>Contact</strong></dt>
        <dd>{{ topic.contact }}</dd>
      {% endif %}
      {% if topic.links %}
        <dt><strong>Links</strong></dt>
        <dd>
        {% for link in topic.links %}
          <a href="{{ link.url }}">{{ link.link_text }}</a> <small>({{ link.link_type.value }})</small>{% if not loop.last %}<br>{% endif %}
        {% endfor %}
        </dd>
      {% endif %}
    </dl>
  {% endif %}
  <dl>
    <dt><small>Created</small></dt>
    <dd>{{ topic.created.strftime('%Y-%m-%d') }}</dd>
    <dt><small>Updated</small></dt>
    <dd>{{ topic.updated.strftime('%Y-%m-%d') }}</dd>
  </dl>
{% endblock %}
